<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/static/images/bg-home.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gallery</title>
  <link rel="stylesheet" href="/static/styles/gallery.css" />
</head>
<body>
  <hr />
  <div id="gallery" class="container-fluid">
    {% for gallery in galleryimages %}
      {% for image in gallery.image_set.all %}
        <img style="border-radius: 1rem" src="{{ image.Image.url }}" alt="" onclick="openModal(this)" />
      {% endfor %}
    {% endfor %}
  </div>

  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage" />
  </div>
  <script src="/static/javascript/gallery.js"></script>
</body>
</html>
