<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday Sravanti!</title>
  <link rel="icon" href="/static/images/bg-home.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cutive+Mono'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="/static/styles/message.css">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
 
 
  <audio id="musicMsg" src="/static/audio/bol4.mp3" loop="loop"></audio>
  <section class="mast">
    <div class="container">
      <h1 class="text">Saeng-il chuk-ha-he-yo Sravanti!</h1> 
      <p class="text">Happy Birthday !!!<br>
        My..
        Rakshasi , lil lady , pichi pilla , bangaramm , aunty <br>
        
My life got twisted upside down.<br> 
So I'd like to tell a story, just sit right there.<br>
And I'll tell you how I became the prince of Bel Air. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam magni illum facilis vero blanditiis doloremque beatae nam labore sapiente, autem, nesciunt deleniti necessitatibus rerum ullam eligendi dignissimos aut repudiandae. Eaque!</p>
      
<a href="/Gallery">
  <button id="galleryBtn">(⌐■_■)</button>
</a>
    </div>
  </section>
</main>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>
  <script src="/static/javascript/message.js"></script>
</body>

</html>
