.events-section {
    padding: 7rem 2rem 2rem 2rem; 
}

.our-events {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.event-img {
    height: 60%;
    width: 100%;
}

.event-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.our-events .card {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 15rem;
    height: 25rem;
    margin: 2rem 0;
    border-radius: 0.5rem !important;
    transition: all 0.3s ease;
}

.our-events .card:hover , .our-events .card:focus {
    transform: scale(1.05);
}

.event-info {
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}

.event-info .title {
    overflow: hidden;
    font-size: 1.1em;
    text-align: center;
}

.event-info .read-more {
    overflow: hidden;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0) ;
    border: 0;
    border-top: solid 0.1rem rgba(159, 159, 159, 0.661);
    width: 80%;
    text-align: center;
    padding-top: 1rem;
}

.event-info .ti-ve {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7rem;
    justify-content: space-evenly;
    line-height: 1rem;
}

.ti-ve .time-date, .venue {
    white-space: wrap;
    padding: 0 1rem;
    width: 50%;
}
.venue {
    border-left: solid 0.1rem rgba(159, 159, 159, 0.661);
}
.svg-icon {
    width: 1.1rem;
    height: auto;
    margin-right: 0.5rem;
}

/* MODAL */

.modal-body {
    text-align: center;
    align-items: center !important;
}
.modal-header {
    border: none !important;
    text-align: center !important;
    align-items: start !important;
}

.modal-content {
    height: 90vh;
    margin: 1rem !important;
}

.event-img-modal {
    width: 100%;
    height: 12rem;
    margin: 0 0 1.5rem 0;
}
.event-img-modal img {
    
    width: 100%;
    height: 100%;
    object-fit: contain !important;
}


.event-description-modal {
    word-wrap: break-word;
    text-align: justify;
}

.ti-ve-modal {
    font-size: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0 0 1.5rem 0;
}
.time-date-modal {
    border-right: solid 0.1rem rgba(159, 159, 159, 0.661);
    width: 100%;
    padding: 1rem;
}
.venue-modal {
    width: 100%;
}

